<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Home Search</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home Search Project</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Hello, excercise analyzer!</h2>
        <p>
            This is home page for searching zillow for home details based on address.<br/>
            Codebase available on <a href="https://bitbucket.org/priyeshj/homesearch" target="_blank">bitbucket</a>
        </p>

        <form action="/home" method="post">
        <div class="col-lg-12">
            <div class="input-group-lg">
              <input type="text" class="form-control" placeholder="Street address" name="address">
              <input type="text" class="form-control" placeholder="City/State OR Zipcode" name="citystatezip">
              <button class="btn btn-success btn-lg" type="submit" value="Search">Go!</button>

            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        </form>

      </div>
    </div>

    <div class="container">

      <h3><span class="label label-default">{{ .Message }}</span></h3>

      <!-- Iterate over search results as row of columns -->
      {{range .Results}}
      <div class="row">
        <div class="col-md-3">
            <h2>Links</h2>
            <div class="container">
                <a href="{{.Links.HomeDetails}}">HomeDetails</a><br/>
                <a href="{{.Links.GraphsAndData}}">GraphsAndData</a><br/>
                <a href="{{.Links.MapThisHome}}">MapThisHome</a><br/>
                <a href="{{.Links.MyZestimator}}">MyZestimator</a><br/>
                <a href="{{.Links.Comparables}}">Comparables</a>
            </div>
        </div>
        <div class="col-md-3">
          <h2>Address</h2>
          <div class="container">
            <p>
              {{.Address.Street}}<br/>
              {{.Address.Zipcode}}<br/>
              {{.Address.City}}<br/>
              {{.Address.State}}<br/>
                <b>Latitude:</b> {{.Address.Latitude}}<br/>
                <b>Longitude:</b> {{.Address.Longitude}}<br/>
            </p>
          </div>
       </div>
        <div class="col-md-3">
          <h2>Zestimate</h2>
            <div class="container">
                <p>
                    <b>Amount:</b> {{.Zestimate.Amount.Currency}} {{.Zestimate.Amount.Value}}<br/>
                    <b>Last Updated:</b> {{.Zestimate.LastUpdated}}<br/>
                    <b>Low:</b> {{.Zestimate.Low.Currency}} {{.Zestimate.Low.Value}}<br/>
                    <b>High:</b> {{.Zestimate.High.Currency}} {{.Zestimate.High.Value}}<br/>
                    <b>Percentile:</b> {{.Zestimate.Percentile}}<br/>
                </p>
            </div>
        </div>
        <div class="col-md-3">
          <h2>Local Real Estate</h2>
            {{range .LocalRealEstate}}
            <div class="container">
                <p>
                    <b>ID:</b> {{.ID}}<br/>
                    <b>Type:</b> {{.Type}}<br/>
                    <b>Name:</b> {{.Name}}<br/>
                    <b>ZIndex:</b> {{.ZIndex}}<br/>
                    <b>ZIndexOneYearChange:</b> {{.ZIndexOneYearChange}}<br/>
                    <a href="{{.Overview}}">Overview</a><br/>
                    <a href="{{.ForSaleByOwner}}">ForSaleByOwner</a><br/>
                    <a href="{{.ForSale}}">ForSale</a><br/>
                </p>
            </div>
            {{end}}
        </div>
      </div>
      <hr/>
      {{else}}
      <div class="row">
        <div class="col-md-12">
            {{if .Message}}
          <h2>No Results for the search query. Please try again for a different address.</h2>
            {{end}}
        </div>
      </div>
      {{end}}

      <footer>
        <p>&copy; 2017 HomeSearch, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>
